.filter-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .date-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .amount-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .amount-filter {
      width: 120px;
    }
  }
}
