:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;

    .toolbar-spacer {
      flex: 10 1 auto;
    }

    .login-status {
      margin-right: 20px;
    }
  }

  .carousel-container {
    flex: auto;

    .carousel-item {
      flex: auto;
      height: 100%;
    }
  }

  .demo-image {
    height: calc(100vh - 64px);
    width: 100%;
    object-fit: cover;
  }

  mdb-carousel {
    height: 100%;
  }

  ::ng-deep {
    .carousel-inner,
    .carousel-item,
    .carousel.slide {
      height: 100%;
    }
  }
}
