:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    justify-content: space-between;

    .toolbar-spacer {
      flex: 10 1 auto;
    }

    .login-status {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  .spinner-container {
    display: flex;
    flex: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card-container {
    background-color: #fafafa;
    display: flex;
    flex: auto;

    .account-book-card {
      height: 240px;
      width: 160px;
      display: flex;
      background-color: #eeeeee;
      flex-direction: column;
      margin: 20px;
      cursor: pointer;

      .book-desc {
        flex-grow: 1;
      }
    }

    .account-book-add-card {
      display: flex;
      justify-content: center;
      align-items: center;

      .add-icon {
        height: 60px;
        width: 60px;
        text-align: center;
        font-size: 36px;
      }
    }
  }
}
