:host {
  height: 100%;
}
.toolbar-spacer {
  flex: auto;
}

.page-container {
  .side-menu {
    width: 200px;
  }

  .items-section {
    display: flex;
    flex-direction: column;

    .table-header {
      display: flex;
      align-items: center;
      padding: 8px;
    }

    .spending-item-table {
      margin: 24px;
    }
  }

  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
}
