.page-container {
  height: 100%;

  .side-menu {
    width: 400px;
  }

  .items-section {
    display: flex;
    flex-direction: column;

    .table-header {
      display: flex;
      padding: 8px;
    }

    .spending-item-table {
      margin: 24px;
    }
  }
}
