:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    justify-content: space-around;

    .toolbar-spacer {
      flex: 10 1 auto;
    }

    .login-status {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  .page-container {
    display: flex;
    flex: auto;
    flex-direction: column;

    .side-menu {
      width: 200px;
    }

    .items-section {
      height: 100%;
      display: flex;
      flex: auto;
      flex-direction: column;

      .spinner-container {
        display: flex;
        flex: auto;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      .item-list-container {
        display: flex;
        flex: auto;
        flex-direction: column;
      }

      .table-header {
        display: flex;
        align-items: center;
        padding: 8px;
      }

      .spending-item-table {
        margin: 24px;
      }
    }
  }
}
