<!-- TOP TOOLBAR -->
<mat-toolbar color="primary">
  <button
    routerLink="/books"
    mat-icon-button
    aria-label="Example icon-button with arrow back icon"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ bookName }}</span>
  <span class="toolbar-spacer"></span>
  <app-login-status></app-login-status>
</mat-toolbar>
<!-- END TOP TOOLBAR -->
<mat-drawer-container class="page-container">
  <!-- SIDE MENU -->
  <mat-drawer mode="side" opened class="side-menu">
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="changeMode($event)"
    >
      <mat-list-option [value]="'records'">Records</mat-list-option>
      <mat-list-option [value]="'report'">Report</mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <!-- END SIDE MENU -->
  <mat-drawer-content>
    <section class="items-section">
      <!-- ADD + SEARCH / FILTER BAR -->
      <div class="table-header">
        <button mat-mini-fab color="accent" (click)="openEditItemDialog()">
          <mat-icon fontIcon="add"></mat-icon>
        </button>
        <app-item-filter-bar
          (filterChange)="refreshTableOnFilterChange($event)"
        ></app-item-filter-bar>
      </div>
      <!-- END ADD + SEARCH / FILTER BAR -->
      <mat-divider></mat-divider>
      <!-- ITEM LIST -->
      <!-- PAGINATION -->
      <mat-paginator
        [pageIndex]="pageIndex"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[2, 10, 20, 50, 100]"
        (page)="refreshTableOnPageChange($event)"
        aria-label="Select page"
      ></mat-paginator>
      <!-- END PAGINATION -->
      <div *ngIf="dataSource.length == 0">No items found.</div>
      <table
        *ngIf="pageMode === 'records' && dataSource.length > 0"
        mat-table
        [dataSource]="dataSource"
        class="spending-item-table mat-elevation-z8"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="merchant">
          <th mat-header-cell *matHeaderCellDef>Merchant</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.merchant }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let spendingItem">
            <button
              mat-icon-button
              (click)="openEditItemDialog(spendingItem)"
              aria-label="Example edit icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="openDeleteItemDialog(spendingItem)"
              aria-label="Example delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!--END ITEM LIST -->
    </section>
  </mat-drawer-content>
</mat-drawer-container>
<!-- DELETE COMFIRM DIALOG -->
<ng-template #deleteConfirmDialog>
  <h3 matDialogTitle>Are you sure you want to permanently delete this item?</h3>
  <mat-dialog-content>
    <p>You won't be able to undo this action and restore this item.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose (click)="pendingDeleteItem = undefined">
      Cancel
    </button>
    <button mat-button matDialogClose color="primary" (click)="deleteItem()">
      Delete
    </button>
  </mat-dialog-actions>
</ng-template>
<!-- END DELETE COMFIRM DIALOG -->
