<mat-drawer-container class="page-container">
  <!-- SIDE MENU -->
  <mat-drawer mode="side" opened class="side-menu">
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="changeMode($event)"
    >
      <mat-list-option [value]="'records'">Records</mat-list-option>
      <mat-list-option [value]="'report'">Report</mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <!-- END SIDE MENU -->
  <mat-drawer-content>
    <section class="items-section">
      <!-- ADD + SEARCH / FILTER BAR -->
      <div class="table-header">
        <button mat-button color="primary">Add</button>
        <app-filter-bar
          (filterChange)="refreshTableOnFilterChange($event)"
        ></app-filter-bar>
      </div>
      <!-- END ADD + SEARCH / FILTER BAR -->
      <mat-divider></mat-divider>
      <!-- ITEM LIST -->
      <!-- PAGINATION -->
      <mat-paginator
        [pageIndex]="pageIndex"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[2, 10, 20, 50, 100]"
        (page)="refreshTableOnPageChange($event)"
        aria-label="Select page"
      ></mat-paginator>
      <!-- END PAGINATION -->
      <table
        *ngIf="pageMode === 'records'"
        mat-table
        [dataSource]="dataSource"
        class="spending-item-table mat-elevation-z8"
      >
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.category }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="merchant">
          <th mat-header-cell *matHeaderCellDef>Merchant</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.merchant }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let spendingItem">
            {{ spendingItem.amount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <!--END ITEM LIST -->
    </section>
  </mat-drawer-content>
</mat-drawer-container>
