<div class="dialog-content">
  <form [formGroup]="dialogForm">
    <mat-form-field hintLabel="Max 30 characters" appearance="fill">
      <mat-label>Book Name </mat-label>
      <input matInput #nameInput maxLength="30" formControlName="name" />
      <mat-hint align="end">{{ nameInput.value.length || 0 }}/30</mat-hint>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>
